server:
  port: 8080

spring:
  application:
    name: gateway

  config:
    import: "configserver:http://localhost:8888"

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true   # Auto-discover services registered in Eureka
          lower-case-service-id: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
