server:
  port: 8082

spring:
  application:
    name: hr-service

  config:
    import: "configserver:http://localhost:8888"

  datasource:
    url: jdbc:postgresql://localhost:5432/hr
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
